:root {
    --font-size: 1.2rem;
    --font-color1: white;
    --font-color2: yellow;
    --font-color3: orange;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    color: var(--font-color1);
}

html {
    font-size: var(--font-size);
}

body {
    background-color: black;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    z-index: 0;
}

#background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/images/background.gif");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

span {
    color: var(--font-color2);
}

.container {
    margin: 0 auto;
    width: 80%;
    z-index: 2;
}

header {
    min-height: 6vh;
}

#principal {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}

footer {
    min-height: 4vh;
}

a {
    text-decoration: none;
    color: var(--font-color2);
    transition: 0.5s;
}

a:hover {
    color: var(--font-color3);
}