#selectship {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    background-image: url("../assets/images/menus-background.png");
}

#selectship h1 {
    font-size: 2rem;
}

#selectship img {
    min-height: 16vh;
    min-width: 10vw;
    max-height: 16vh;
    max-width: 10vw;
    transition: 0.5s;
    margin-left: 20px;
}

#selectship img:hover {
    transform: scale(1.4);
}
